<div class="container">
  <div class="col-12 ml-auto mr-auto">
      <form class="form" autocomplete="off">
          <div class="card ">
              <div class="card-header ">
                  <div class="justify-content-center text-center">
                      <h5>IMAGE UPLOAD</h5>
                  </div>
              </div>
              <div class="card-body">
					<div class="col-md-12 pagination-centered text-center">
						<div data-provides="fileinput">
							<img [src]="imageSrc || 'https://via.placeholder.com/560x400?text=Image+Placeholder'" alt="imgupload"
								style="width: 540px; height: 380px; object-fit: cover;">
							<br>
							<div class="fileinput-preview fileinput-exists thumbnail"></div>
							<div>
								<a href="javascript:void(0);" (click)="fileInput.click()">
								Select Image
								</a>
								<input type="file" (change)="onFileChange($event)" name="imgupload" id="imgupload" #fileInput accept="image/*" />
							</div>
						</div>
					</div>
              </div>
              <div class="card-footer ">
                  <button (click)="upload()" class="btn btn-primary btn-round btn-lg btn-block mb-3">
                      Upload
                  </button>
              </div>
          </div>
      </form>
  </div>
</div>

<router-outlet></router-outlet>